@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

body {
  font-family: 'Poppins', sans-serif;
}

/* product info */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
